* {
  font-size: 20px;
}

body{
  margin: 0;
}

.header_container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  height: 100vh;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/background.jpg");
  background-size: cover;
}

.header_sub_container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.logo_container{
  max-width: 12rem;
  border: 2px solid black;
  border-radius: 1000px;
  padding: 2rem;
  padding-top: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  border-collapse: collapse;
}
.logo_image {
  width: 12rem;
}

.h1 {
  display: none;
}

.description {
  text-align: center;
  color: white;
  font-size: 28px;
  letter-spacing: 8px;
}

#main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  max-width: 1280px;
  text-align: center;
  padding-top: 4rem;
}

.table {
  border: 1px solid lightgray;
  border-radius: 2px;
}

.contact_container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
}

.contact_information {
  display: flex;
  flex-direction: column;
}

.contact_information_link{
  text-decoration: none;
}

.socials_container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.footer_container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.h2 {
  margin: 0;
  padding-top: 2rem;
}