* {
  font-size: 20px;
}

body{
  margin: 0;
}

.header_container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  height: 100vh;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/background.jpg") center center;
  background-size: cover;
}

.header_sub_container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.fix_header{
  position: fixed;
  min-height: 50px;
  top: 0;
  right: 0;
  background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
  display: flex;
  width: 100%;
  box-shadow: 0 5px 5px #00000069;
}

.logo_fixed{
  max-height: 35px;
}

.logo_container{
  max-width: 12rem;
  border-radius: 1000px;
  padding:2rem 2rem 3rem 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  border-collapse: collapse;
}
.logo_image {
  width: 12rem;
}

.h1 {
  font-size: 18px;
  font-weight: normal;
  display: none;
}

.description {
  text-align: center;
  color: white;
  font-size: 28px;
  letter-spacing: 8px;
}

#main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main_apartments_container{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}

.apartment_container{
  display: flex;
  min-height: 400px;
  min-width: 400px;
  border: 1px solid black;
  gap: 2rem;
}


.price_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  max-width: 1280px;
  text-align: center;
  padding-top: 4rem;
  margin: 0 auto;
}

.table {
  border: 1px solid lightgray;
  border-radius: 2px;
}

.contact_container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
}

.contact_information {
  display: flex;
  flex-direction: column;
}

.contact_information_link{
  text-decoration: none;
}

.fixed_main_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.fixed_sub_container{
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
  padding-left: 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer_container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.h2 {
  margin: 0;
  padding-top: 2rem;
}